@model IEnumerable<Lab1_RicardoChian_PabloGarcia.Models.Empleado>

@{
    ViewBag.Title = "Empleados registrados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empleados registrados</h2>

<p>
    @Html.ActionLink("Registro manual", "Create")
</p>

<p>
    @Html.ActionLink("Registro automático (Archivo *.csv)", "Create")
</p>

<table class="table">
    <thead style="background-color:cornflowerblue">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CodigoEmpleado)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Disponible)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.HoraDeEntrada)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.HoraDeSalida)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.HorasTrabajadas)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Sueldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidaCitas)
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
    <tr style="text-align: center">
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.CodigoEmpleado)
        </td>


        @if (item.HoraDeEntrada.Hour != 0)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Disponible)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.HoraDeEntrada)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.HoraDeSalida)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.HorasTrabajadas)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Sueldo)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CantidaCitas)
            </td>
        }
        else
        {
            {
                <td>N/A</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>Q. -</td>
                <td>-</td>
            }
        }
    </tr>
    }
</table>
@if (!Model.Any())
{
    <h6 style="color:darkred">No hay empleados registrados</h6>
}
